* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: #f5f5f5;
}

#container-div {
	max-width: 960px;
	width: 500px;
	height: 500px;
	background-color: white;
	margin: 15px auto;
	padding: 10px;
	display: grid;
	/* Need to move the two properties below to javascript so that a variable can be used to set the number of boxes required by the user. */
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

#whiteBox {
	height: 30px;
	width: 30px;
	background-color: white;
}

/* button {
	width: 150px;
	margin: 10px 450px;
} */
