* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: #f5f5f5;
}

#container-div {
	max-width: 960px;
	width: 500px;
	height: 500px;
	box-shadow: 10px 10px 30px rgb(60, 104, 131);
	/* border: 5px solid black; */
	background-color: white;
	margin: auto;
	padding: 10px;
	display: grid;
	/* Need to move the two properties below to javascript so that a variable can be used to set the number of boxes required by the user. */
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

#whiteBox {
	height: 30px;
	width: 30px;
	background-color: white;
}

#button {
	display: block;
	margin: 50px auto;
	width: 200px;
	height: 50px;
}

p {
	/* display: block; */
	/* margin: 10px auto; */
	text-align: center;
	margin: 25px;
}